html,
body {
    max-width: 100vw;
    height: auto;
}


/* Accueil. */

.imgacc {
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    border: 3px solid white;
}

.pacc {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.rowacc {
    width: 100vw;
}

.imgac2 {
    margin: auto;
}

.presentation {
    font-size: 18px;
}


/* Qui sommes-nous ? */

.alignContent {
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

.aligntitle {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.ytb {
    margin: auto;
    display: block;
    border: black 2px solid;
    border-radius: 3px;
}


/* Contact. */

.map {
    margin-top: 300px;
    border: 2px solid #033D75;
}

.btn {
    background-color: white;
    border: 2px solid white;
}

.form-label {
    padding-top: 15px;
    color: white;
}


/*Navbar.*/

.logo{
    width:50px;
    height:50px;
    border-radius: 10px;
}
.nav-item :hover{
    font-size: 20px;
    background-color: #033D75 !important;
    border: 3px radius #033D75;
    border-radius: 10px;
    
}

.nav-item{
    margin-left:15px;
    font-size: 15px;
    border: 4px radius #033D75;
    border-radius: 3px;
}


/* Media queries. */

@media screen and (max-width: 500px) {
    .alignContent {
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .aligntitle {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 700px) {
    #video {
        max-width: 300px
    }

    #mapgoogle{
        width:100%;
        height: auto;
        padding: auto;
    }

    .alignContent {
        margin-left: 4%;
        margin-right: 4%;
    }

    .aligntitle {
        margin-left: 4%;
        margin-right: 4%;
    }
}